# Basic MariaDB configuration file

[mysqld]
# Server settings
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
# Defines the storage location for MariaDB data, which will link to your volume
datadir=/var/lib/mysql
# Allows connections from other containers
bind-address=0.0.0.0
port=3306

# Security and performance tweaks
# Speeds up connections by skipping DNS resolution
skip-name-resolve
# Sets the buffer pool for storage performance.
# Adjust as needed based on container limits.
innodb_buffer_pool_size=256M
max_connections=100

# Enforce TLS if needed (optional, for stricter security)
require_secure_transport=ON

# Custom database settings for your project
# Sets the default character set to utf8mb4, which is compatible with WordPress,
# ensuring support for a wide range of characters.
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
# Specifies the character set for MariaDB client commands, ensuring consistency.
default-character-set=utf8mb4
